{% extends 'extension/module/sms77_api_message.twig' %}

{% set _heading = heading_smses %}

{% block form %}
    <div class='form-group'>
        <label class='col-sm-2 control-label' for='input-label'>
            {{ setting_label }}</label>

        <div class='col-sm-10'>
            <input
                    class='form-control'
                    id='input-label'
                    name='label'
                    pattern='[A-Z|a-z|0-9|.|\-|_|@]+'
                    value='{{ settings.sms77_api_label }}'
            />

            {% if error_label %}
                <div class='text-danger'>{{ error_label }}</div>
            {% endif %}
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label' for='input-foreign_id'>
            {{ setting_foreign_id }}
        </label>

        <div class='col-sm-10'>
            <input
                    class='form-control'
                    id='input-foreign_id'
                    name='foreign_id'
                    pattern='[A-Z|a-z|0-9|.|\-|_|@]+'
                    value='{{ settings.sms77_api_foreign_id }}'
            />

            {% if error_foreign_id %}
                <div class='text-danger'>{{ error_foreign_id }}</div>
            {% endif %}
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label'
               for='input-delay'>{{ setting_delay }}
        </label>

        <div class='col-sm-10'>
            <input
                    class='form-control'
                    id='input-delay'
                    name='delay'
                    value='{{ settings.sms77_api_delay }}'
            />

            {% if error_delay %}
                <div class='text-danger'>{{ error_delay }}</div>
            {% endif %}
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label'
               for='input-udh'>{{ setting_udh }}
        </label>

        <div class='col-sm-10'>
            <input
                    class='form-control'
                    id='input-udh'
                    name='udh'
                    value='{{ settings.sms77_api_udh }}'
            />

            {% if error_udh %}
                <div class='text-danger'>{{ error_udh }}</div>
            {% endif %}
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label'
               for='input-debug'>{{ setting_debug }}
        </label>

        <div class='col-sm-10'>
            <input
                    {% if settings.sms77_api_debug %}checked{% endif %}
                    class='form-control'
                    id='input-debug'
                    name='debug'
                    type='checkbox'
            />

            {% if error_debug %}
                <div class='text-danger'>{{ error_debug }}</div>
            {% endif %}
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label'
               for='input-no_reload'>{{ setting_no_reload }}</label>

        <div class='col-sm-10'>
            <input
                    {% if settings.sms77_api_no_reload %}checked{% endif %}
                    class='form-control'
                    id='input-no_reload'
                    name='no_reload'
                    type='checkbox'
            />

            {% if error_no_reload %}
                <div class='text-danger'>{{ error_no_reload }}</div>
            {% endif %}
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label'
               for='input-flash'>{{ setting_flash }}</label>

        <div class='col-sm-10'>
            <input
                    {% if settings.sms77_api_flash %}checked{% endif %}
                    class='form-control'
                    id='input-flash'
                    name='flash'
                    type='checkbox'
            />

            {% if error_flash %}
                <div class='text-danger'>{{ error_flash }}</div>
            {% endif %}
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label'
               for='input-performance_tracking'>{{ setting_performance_tracking }}</label>

        <div class='col-sm-10'>
            <input
                    {% if settings.sms77_api_performance_tracking %}checked{% endif %}
                    class='form-control'
                    id='input-performance_tracking'
                    name='performance_tracking'
                    type='checkbox'

            />

            {% if error_performance_tracking %}
                <div class='text-danger'>{{ error_performance_tracking }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}